<div class="px-4 py-5 my-5">

  <!-- Heading -->
  <h1 class="display-5 fw-bold text-body-emphasis text-center">Get To know Me</h1>

  <!-- Description -->
  <div class="col-lg-8 mx-auto">
    <p class="lead m-5">
      Hi, I'm Moulali Shaik and I'm from Nellore district. I have completed my bachelor’s degree at Sree Vidyanikethan Engineering 
      College. I’m a backend developer specializing in Node.js, Express.js, REST APIs, and MongoDB. I have experience working with these 
      technologies through various projects. I’m proficient in Java and have a solid understanding of Data Sructures and Algorithms. 
      I have hands-on experience on Frontend - HTML, CSS, JavaScript as well Frontend Frameworks - Bootstrap I used to design Responsive 
      websites.
    </p>

    <p class="lead m-5">
        In my free time, I love exploring new technologies and improving my coding skills through problem-solving and coding challenges. 
      I’m looking forward to enhancing my backend development skills and contributing to open-source projects in the near future.
    </p>
    
</div>


