<div class="container col-xxl-8 px-4 py-5">
  <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
    
    <div class="col-10 col-sm-8 col-lg-6">
      <img 
        src="../../assets/insta dp.jpg" 
        class="d-block mx-lg-auto img-fluid" 
        alt="Bootstrap Themes" 
        width="700" 
        height="500" 
        loading="lazy"
      >
    </div>

    <div class="col-lg-6">
      <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">
        SHAIK MOULALI
      </h1>
      <p class="lead">
        A Passionate backend developer and Programmer based in Bengaluru, India.
      </p>

      <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <a href="https://www.linkedin.com/in/shaikmoulali1/">
            <span class="badge rounded-pill text-dark">Linkedin</span>
        </a>
        <a href="https://github.com/Moulali2004">
            <span class="badge rounded-pill text-dark">Github</span>
        </a>
        <a href="https://leetcode.com/u/ShaikMouli/">
            <span class="badge rounded-pill text-dark">Leetcode</span>
        </a>
        <a href="https://drive.google.com/file/d/1vc-7OeEmF6W8Fw_D28OVfqUJiePn4MH3/view?usp=drive_link">
            <span class="badge rounded-pill text-dark text-bg-primary">Resume</span>
        </a>
      </div>
    </div> 
  </div>
</div>
